#toggleMenu {
    font-size: 24pt;
    cursor: pointer;
    position: absolute;
    top: 40%;
    z-index: 999;
    height: 80px;
    width: 6px;
    background-color: gray;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

#toggleMenu:after {
    width: 0;
    height: 0;
    border-left: 7px solid white;
    content: "";
    position: relative;
    top: 22px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    font-size: 0;
}

#toggleMenu:before {
    width: 0;
    height: 0;
    border-right: 7px solid white;
    content: "";
    position: relative;
    top: 22px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    font-size: 0;
    display: none;
}
