#lighthouseMenu {
    position: absolute;
    top: 40%;
    z-index: 999;
    height: 80px;
    width: 180px;
    border: gray 2px solid;
    box-sizing: border-box;
    background-color: white;
    left: 0;
    transition: left 0.2s ease;
}

#lighthouseMenu.closed {
    left: -180px;
}

#lighthouseMenu .title a{
    color: white;
    text-decoration: none;
}

#lighthouseMenu .title,
#lighthouseMenu .links a {
    padding-left: 5px;
}

#lighthouseMenu .links  a {
    display: block;
    line-height: 14px;
    margin-top: 8px;
}

#lighthouseMenu .links {
    margin-top: 5px;
}

#lighthouseMenu .title {
    background-color: gray;
    color: white;
    width: 80px;
    border-bottom-right-radius: 7px;
}

#menuToggle {
    cursor: pointer;
    height: 80px;
    width: 15px;
    background-color: gray;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-left: 177px;
    position: absolute;
    top: -2px;
}

#menuToggle:after {
    width: 0;
    height: 0;
    top: 22px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    font-size: 0;
    content: "o";
    position: relative;
    left: 4px;
}

#lighthouseMenu.closed #menuToggle:after {
    border-left: 7px solid white;
}

#lighthouseMenu.opened #menuToggle:after {
    border-right: 7px solid white;
}
